@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --beige: #f3f1ea;
    --dark: #1b274d;
    --yellow: #fab254;
}

*{
    background-color: #f3f1ea;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 9rem 9%;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--beige);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: .2rem solid var(--dark);
}

header .navbar a{
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    color: var(--dark);
}

header .navbar a.active {
    border: 2px solid var(--dark);
    border-radius: 0.5rem;
}

header .navbar a:hover{
    background: var(--yellow);
    color: var(--dark);
}

header .icons a{
    cursor: pointer;
    margin-left: 2rem;
}

header .container{
    margin-left: 3rem;
    margin-bottom: 0.3rem;
    display: inline-block;
}
header .menu-bar{
    display: none;
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    position: relative;
    transition: all 0.4s;
}

header .menu-bar::after{
    bottom:9px;
}

header .menu-bar::before{
    bottom:18px;
}

header .menu-bar::before, header .icons .menu-bar::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    transition: all 0.4s;
}

.locations h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--dark);
    border-bottom: 0.3rem solid var(--dark);
}

.locations .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location1 {
    flex: 1 1 50%;
}

.locations1 .image, .locations2 .image{
    width: 50%;
    align-items: center;
}

.location2 {
    flex: 1 1 50%;
}

.image img{
    width: 45%;
    margin: auto;
    display: block;
}

.locations .content{
    padding-top: 2rem;
    text-align: center;
}

.locations .content h2{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--dark);
    margin-bottom: 1rem;
}

.locations .content h3{
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
    color: var(--dark);
    margin-bottom: 1rem;
}

.locations .content p{
    font-size: 1.5rem;
    color: var(--dark);
    margin-bottom: 0.6rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--dark);
    border: 2px solid var(--dark);
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 1rem 2rem;
}

.btn:hover{
    background: var(--yellow);
    color: var(--dark);
}

/* media querries */
@media (max-width:1200px) {
    html{
        font-size: 60%;
    }
    .home {
        padding-top: 10rem;
        padding-bottom: 20rem;
    }
}

@media (max-width:991px) {
    header {
        padding: 1rem 2rem;
    }

    html{
        font-size: 60%;
    }

    .home {
        padding-top: 20rem;
        padding-bottom: 15rem;
    }
}

@media (max-width:768px) {
    header .icons .menu-bar{
        display:block;
    }

    html{
        font-size: 45%;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--beige);
        border-top: .3rem solid var(--dark);
        border-bottom: .3rem solid var(--dark);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }

    header .navbar a.active {
        border: none;
    }

    header .container.active {
        margin-bottom: 0rem;
    }
    header .container.active .menu-bar::after{
        transform: rotateZ(45deg) translate(-3.1px, -3.1px);
    }
    
    header .container.active .menu-bar::before{
        transform: rotateZ(-45deg) translate(-3.1px, 3.1px);
    }
    
    header .container.active .menu-bar{
        background-color: transparent;
    }

    .locations .container{
        flex-direction: column;
    }

    .location1 .btn {
        margin-bottom: 3rem;
    }
}