@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --beige: #f3f1ea;
    --dark: #1b274d;
    --yellow: #fab254;
}

*{
    background-color: #f3f1ea;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 9rem 9%;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--beige);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: .2rem solid var(--dark);
}

header .navbar a{
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: .5rem 4rem;
    color: var(--dark);
}

header .navbar a.active {
    border: 2px solid var(--dark);
    border-radius: 0.5rem;
    cursor: pointer;
}

header .navbar a:hover, .reservation-form .reserve-btn input:hover{
    background: var(--yellow);
    color: var(--dark);
}

header .icons a{
    cursor: pointer;
    margin-left: 2rem;
}

header .container{
    margin-left: 3rem;
    margin-bottom: 0.3rem;
    display: inline-block;
}
header .menu-bar{
    display: none;
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    position: relative;
    transition: all 0.4s;
}

header .menu-bar::after{
    bottom:9px;
}

header .menu-bar::before{
    bottom:18px;
}

header .menu-bar::before, header .icons .menu-bar::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    transition: all 0.4s;
}

.menu h1{
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    color: var(--dark);
    border-bottom: 0.3rem solid var(--dark);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box .image{
    width: 100%;
    padding: 1.5rem;
}

.menu .box-container .box .image img{
    width: 100%;
}

.menu .box-container .box .content{
    padding: 1.5rem;
    padding-top: 0;
}

.menu .box-container .box .content h3{
    color: var(--beige);
    background-color: var(--dark);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.menu .box-container .box .content p{
    color: var(--dark);
    font-size: 1.5rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}

.reservation{
    position: fixed;
    width: 70%;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 0;
    display: none;
}

.section-center{
    position: absolute;
    border: 7px solid var(--dark);
}

.reservation-form{
    position: relative;
    margin: auto;
    padding: 3rem;
    padding-top: 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
}

.reservation-form::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.reservation-form .form-header{
    position: relative;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.reservation-form .form-header h1{
    text-align: center;
    color: var(--dark);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
}
.close-btn{
    display: flex;
    justify-content: flex-end;
    padding: 3rem 3rem 1rem 0;
    cursor: pointer;
}
.close-btn img{
    width: 2.5rem;
}

.reservation-form form{
    padding: 1.5rem;
    margin: 0 auto;
}

.reservation-form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5rem 1.5rem 0;
}

.reservation-form .inputBox label{
    display: block;
    color: var(--dark);
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: 500;
}

.reservation-form .inputBox input, select{
    border: 1px solid var(--dark);
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
}

.reservation-form .reserve-btn{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.reservation-form .reserve-btn input{
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid var(--dark);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
/* footer section */
.footer{
    background-color: var(--dark);
    padding-top: 0;
    padding-bottom: 2rem;
}
.footer .box-container{
    background-color: var(--dark);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.footer .box-container .box{
    background-color: var(--dark);
    padding: 0.5rem 0;
    font-size: 1.3rem;
    color: var(--beige);
}

.footer .box-container .quick_links, .footer .box-container .contact{
    padding: 2rem;
}

.footer .box-container .box h3{
    background-color: var(--dark);
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.footer .box-container .box a, .footer .box-container .box span{
    display: block;
    color: var(--beige);
    background-color: var(--dark);
    padding: 0.5rem 0;
    width: 100%;
}

.footer .box-container .box a:hover{
    color: var(--yellow);
}

.footer .box-container .box .email{
    text-decoration: underline;
}

.footer .box-container .logo_social{
    text-align: center;
}

.footer .box-container .restaurant_logo{
    width: 10%;
    background-color: var(--dark);
}

.footer .box-container .social_logo{
    width: 4%;
    background-color: var(--dark);
}
/* media querries */
@media (max-width:1200px) {
    html{
        font-size: 75%;
    }
    .home {
        padding-top: 10rem;
        padding-bottom: 20rem;
    }

    header .navbar a{
        padding: .5rem 1.3rem;

    }
    .reservation{
        top: 3%;
        left: 55%;
    }
    .footer .box-container .logo_social{
        padding-top: 1.2rem;
    }
    .footer .box-container .restaurant_logo{
        width: 20%;
    }
    
    .footer .box-container .social_logo{
        width: 10%;
    }
}

@media (max-width:991px) {
    header {
        padding: 1rem 2rem;
    }

    html{
        font-size: 60%;
    }

    .home {
        padding-top: 20rem;
        padding-bottom: 15rem;
    }
    .reservation{
        top: 20%;
        left: 60%;
    }
}

@media (max-width:768px) {
    header .icons .menu-bar{
        display:block;
    }

    html{
        font-size: 45%;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--beige);
        border-top: .3rem solid var(--dark);
        border-bottom: .3rem solid var(--dark);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }

    header .navbar a.active {
        border: none;
    }

    header .container.active {
        margin-bottom: 0rem;
    }
    header .container.active .menu-bar::after{
        transform: rotateZ(45deg) translate(-3.1px, -3.1px);
    }
    
    header .container.active .menu-bar::before{
        transform: rotateZ(-45deg) translate(-3.1px, 3.1px);
    }
    
    header .container.active .menu-bar{
        background-color: transparent;
    }
    .reservation{
        left: 45%;
    }
    .footer .box-container .logo_social{
        padding-top: 1.2rem;
    }
    .footer .box-container .restaurant_logo{
        width: 70%;
    }
    
    .footer .box-container .social_logo{
        width: 40%;
    }
}