@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --beige: #f3f1ea;
    --dark: #1b274d;
    --yellow: #fab254;
}

*{
    background-color: #f3f1ea;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--beige);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: .2rem solid var(--dark);
}

header .navbar a{
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    color: var(--dark);
}

header .navbar a.active {
    border: 2px solid var(--dark);
    border-radius: 0.5rem;
}

header .navbar a:hover{
    background: var(--yellow);
    color: var(--dark);
}

header .icons a{
    cursor: pointer;
    margin-left: 2rem;
}

header .container{
    margin-left: 3rem;
    margin-bottom: 0.3rem;
    display: inline-block;
}
header .menu-bar{
    display: none;
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    position: relative;
    transition: all 0.4s;
}

header .menu-bar::after{
    bottom:9px;
}

header .menu-bar::before{
    bottom:18px;
}

header .menu-bar::before, header .icons .menu-bar::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    transition: all 0.4s;
}

/* home section */
.home {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img{
    max-width: 100%;
    height: auto;
    padding-top: 10rem;
    display: block;
    text-align: center;
}

.content{
    text-align: center;
    display: block;
    padding: 10rem 2rem 10rem;
    margin-top: 2rem;
    align-items: center;
}

.content h2{
    color: var(--yellow);
    font-weight: 800;
    font-size: 7rem;
}

.content h3{
    color: var(--dark);
    padding-top: 1rem;
    text-decoration: underline;
    font-weight: 500;
    font-size: 2.5rem;
}

.content p{
    color: var(--dark);
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 1.5;
}

.scroll-down {
    left: 50%;
    bottom: 10px;
    display: block;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #1b274d;
    border-right: 3px solid #1b274d;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }

.home span {
    white-space: nowrap;
}

/* media querries */
@media (max-width:991px) {
    html{
        font-size: 50%;
    }
    header {
        padding: 1rem 2rem;
    }
}

@media (max-width:768px) {
    header .icons .menu-bar{
        display:block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--beige);
        border-top: .3rem solid var(--dark);
        border-bottom: .3rem solid var(--dark);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }

    header .navbar a.active {
        border: none;
    }

    header .container.active {
        margin-bottom: 0rem;
    }
    header .container.active .menu-bar::after{
        transform: rotateZ(45deg) translate(-3.1px, -3.1px);
    }
    
    header .container.active .menu-bar::before{
        transform: rotateZ(-45deg) translate(-3.1px, 3.1px);
    }
    
    header .container.active .menu-bar{
        background-color: transparent;
    }

    .home .image img{
        padding-top: 5rem;
    }

    .home .content{
        padding: 2rem 2rem 7rem 2rem;
    }

    .home .content h2{
        font-size: 5rem;
    }

    .home .content h3{
        padding-top: 2rem;
        font-size: 2.3rem;
    }

    .home .content p{
        padding-top: 2rem;
        font-size: 1.5rem;
    }
}



